<section>
  <ul>
    <li *ngFor="let task of tasks">
      <div>
        {{task.subject}} (id: {{task.id}})
      </div>
      <div>
        {{task.details}}
      </div>
      <div>
        <button (click)="onDeleteTask(task)">Delete Task</button>
      </div>
    </li>
  </ul>

  <form (submit)="onSubmit()">
    <label>
      Subject: <input type="text" [(ngModel)]="model.subject" name="subject">
    </label>

    <label>
      Details: <textarea [(ngModel)]="model.details" name="details"></textarea>
    </label>

    <button type="submit">Submit</button>
  </form>
</section>
